//font
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;


// new color
$white: #fff;
$black: #000;
$gray-dark: #6e6e6e;
$gray-normal: #acacac;
$gray-light: #d2d2d2;
$gray-lighter: #f3f3f3;
$brand-secondary: #3c5064;
$brand-secondary-light: #8297ae;
$brand-secondary-lighter: #c5cfdc;
$brand-secondary-ultralight: #e3e8ee;
$brand-primary: #8f497c;
$brand-primary-light: #d291b9;
$brand-primary-lighter: #e4bdd5;
$brand-primary-ultralight: #fcdee3;
$brand-danger: #b1162e;
$brand-success: #729842;
$brand-in-progress: #A17C26;
/* Grid */
$col-width: 64px;
$gutter-width: 16px;
$left-right-margin: 8px;
$base-margin: $left-right-margin;
$base-padding: $left-right-margin;

$md-brandprimary: (
    50 : #f2e9ef,
    100 : #ddc8d8,
    200 : #c7a4be,
    300 : #b180a3,
    400 : #a06490,
    500 : #8f497c,
    600 : #874274,
    700 : #7c3969,
    800 : #72315f,
    900 : #60214c,
    A100 : #ffa1e0,
    A200 : #ff6ecf,
    A400 : #ff3bbe,
    A700 : #ff22b5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-brandsecondary: (
    50 : #e8eaec,
    100 : #c5cbd1,
    200 : #9ea8b2,
    300 : #778593,
    400 : #596a7b,
    500 : #3c5064,
    600 : #36495c,
    700 : #2e4052,
    800 : #273748,
    900 : #1a2736,
    A100 : #7ab4ff,
    A200 : #4798ff,
    A400 : #147bff,
    A700 : #006ef9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-brandanger: (
    50 : #f6e3e6,
    100 : #e8b9c0,
    200 : #d88b97,
    300 : #c85c6d,
    400 : #bd394d,
    500 : #b1162e,
    600 : #aa1329,
    700 : #a11023,
    800 : #980c1d,
    900 : #880612,
    A100 : #ffb5b9,
    A200 : #ff8289,
    A400 : #ff4f59,
    A700 : #ff3641,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
